table {
    flex: 0 0 auto !important;
    width: auto !important;
    table-layout: auto !important;
}
a {
    font-weight: bold;
}
.nobold {
    font-weight: 100;
}
h1, h4 {
    text-align: center;
    padding-top: 10px;
}
h4 {
    font-size: 15px !important;
}
tr.closed {
    background-color: grey;
}
tr.fishbowl {
    background-color: pink;
}